html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.background-color {
    width: fit-content;
}

.btn {
    width: fit-content;
}

.main-div {
    position: absolute;
    top: 40%;
}